.DS_Store
node_modules
/dist
*.sketch
*.fig
*.md

# local env files
.env.local
.env.*.local
cl
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
.prettierignore
*.json

